/* font-family: 'Advent Pro', sans-serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Gruppo', cursive; */


body {
    background-color: beige;
    width: 90%;
    margin: 0 auto;
    font-family: 'Advent Pro', sans-serif;
    color: darkslategrey;
}


p {
    font-size: 20px;
}

.score-tracker {
    font-size: 36px;
    display: block;
    margin: 0 auto;
   
}
.stones {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.crystals {
    display: flex;
    justify-content: space-around;
    align-items: center;
}    
.crystal{
    border: 1px solid green;
    height: 200px;
    width: 200px;

}